{% extends "base.html" %}

{% block content %}
    <div style="margin-bottom: 10px; top: 0;" class="d-flex flex-row-reverse py-0">
        <img class="langhov" src="../static/img/china.png" width="32" height="32" >
        <img class="langhov" style="margin-right: 5px" src="../static/img/german.png" width="32" height="32" >
        <img class="langhov" style="margin-right: 5px" class="flex-right" src="../static/img/united-kingdom.png" width="32" height="32" >
    </div>

    <div class="container py-3 jump1">
       <div class="jumbotron py-3 ">
            <div class="container py-3">
                  <h1 class="display-1">Welcome to Carbon Tracer</h1>
                  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
       </div>
    </div>
    <hr>
    <div  class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div style="bottom: 0" class="col-lg-4">
            <i class="fas fa-crosshairs fa-10x"></i>
            <h2>Our Vision</h2>
            <p>Here we can explain what's the goal of this application.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div style="bottom: 0" class="col-lg-4">
            <i class="fab fa-connectdevelop fa-10x"></i>
            <h2>Contribution</h2>
            <p>Here we can explain why users have to use and calculate their emission.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div style="bottom: 0" class="col-lg-4">
            <i class="fas fa-chart-bar fa-10x"></i>
            <h2>Stats</h2>
            <p>Here we can give users a hint what stats stands for and what represent and redirect them to a stat page or something.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
{% endblock %}