{% extends "base.html" %}
{% block content %}

    <h1>How to Test for CO<sub>2</sub></h1>
    <p style="text-indent:1em;">
        Carbon dioxide (CO<sub>2</sub>) is colorless and odorless, so you can't detect it through direct observation. You'll need to collect an air sample (or a CO<sub>2</sub> sample), then run one of several simple tests to identify the presence of the gas. You can bubble the gas through limewater, or you can hold a lit splint into the sample to see if it is extinguished by the presence of CO<sub>2</sub>.
    </p>
    <hr>

    <h3>Step 1: Collect a CO<sub>2</sub> sample</h3>
    <div style="text-align: center">
            <img style="width: 800px;height:500px;" src="static/img/11.jpg">
    </div>
    <p style="text-indent:1em;">
        To begin your test, you will need a sealed test tube filled with collected gas. You can collect carbon dioxide in a gas jar, a boiling tube, or another airtight container. Collection is usually performed over water in a beaker. CO<sub>2</sub> gas is denser than air, so you can collect it using "downward delivery" or a gas syringe.
    </p>
    <hr>

    <h3>Step 2: Mix calcium carbonate with hydrochloric acid (HCl)</h3>
    <div style="text-align: center">
            <img style="width: 800px;height:500px;" src="static/img/22.jpg">
    </div>
    <p style="text-indent:1em;">
        The simplest way to collect carbon dioxide is to react calcium carbonate (or limestone chips) with hydrochloric acid. First, pour 20 mL of HCl into a conical flask. Add a spoonful of calcium carbonate (or limestone chips) to the HCL. When the reaction starts, cover the conical flask with a bung and delivery tube: you will collect the gas through the delivery tube and into an upturned test tube (which is immersed in bowl of water). If the water in the test tube is displaced, then gas is being collected<sup>[1]</sup>.
        You can continue to collect the gas for as long as the reaction occurs.
        For classroom demonstrations, you only need a small amount of hydrochloric acid, which is diluted to 1 M; a 2 M concentration works best, but should be used with extra care because it's a strong acid. The equation is: CaCO<sub>3</sub>(s) + 2HCl(aq) ==> CaCl<sub>2</sub>(aq) + H<sub>2</sub>O(l) + CO<sub>2</sub>(g).
        Be very careful when working with hydrochloric acid – wear gloves, a lab coat, and protective goggles, and do not let the acid touch your skin! It's best to only perform this reaction if you have access to a lab environment.
    </p>
    <hr>

    <h3>Step 3: Cover the test tube with a bung</h3>
    <div style="text-align: center">
            <img style="width: 800px;height:500px;" src="static/img/33.jpg">
    </div>
    <p style="text-indent:1em;">
        Put the tube on a rack to keep it safe until you perform the test. The "bung" is essentially a small cork or cap that allows you to pipe the contents of the test tube elsewhere through a connected delivery tube. It's important to seal the CO<sub>2</sub> gas into the container. If you leave it open, the gas will mix with the air, and your test will be much less effective.
    </p>
     <hr>

{% endblock %}