# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\yunxiao_tmp\Jiedan\20220110\Carbon-Tracer-main(1)\Carbon-Tracer-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
